::-webkit-scrollbar {
  display: none;
}
.side-bar {
  border-right: 1px solid #cacaca;
  padding: 2rem 2rem;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 99999999999999999999999999;
  background-color: #fff;
  animation: 1s ease-out normal appBarDeskTop forwards;
}
.side-bar span {
  display: flex;
  align-items: center;
}
.side-bar span p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.side-bar .icon {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 40px;
  height: 40px;
}
.side-bar h3 span {
  color: gray;
  font-size: small;
}

.nav-links {
  cursor: pointer;
  padding: 0.8rem 0.8rem;
  margin: 1rem 0rem;
  border-radius: 4px;
}
.nav-link {
  display: flex;
  align-items: center;
  color: red;
}
.share-tab {
  font-weight: bold;
  padding: 0.8rem 0.8rem;
  margin: 1rem 0rem;
}
.nav-link i {
  margin-right: 10px;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .side-bar {
    width: 70px;
    padding: 2rem 0rem;
    animation: 0.8s ease-in normal appBar forwards;
  }
  .nav-link i,
  .side-bar .icon {
    margin-right: 0;
    margin-left: 15px;
  }
  .link-labels,
  .icon-text {
    animation: 0.8s ease-in normal appBarText forwards;
  }
}

@keyframes appBarText {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes appBar {
  from {
    width: 200px;
  }
  to {
    width: 70px;
  }
}
@keyframes appBarDeskTop {
  from {
    width: 70px;
  }
  to {
    width: 200px;
  }
}
