.image-card {
  border-radius: 8px;
  height: 15rem;
  display: flex;
  align-items: flex-end;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
  box-shadow: 2px 2px 12px #cacaca;
  cursor: pointer;
}
.image-card-content-con {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.image-card-content-con p {
  font-weight: bold;
  color: #fff;
}
.image-card-content-con div span {
  margin-left: 10px;
}
