@font-face {
  font-family: "Lato Regular";
  src: url("../src/fonts/Lato-Regular.ttf");
  src: url("../src/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  color: #000;
  --secondary-color: rgb(56, 11, 129);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  background-color: #fff;
  font-family: "Lato Regular";
  min-height: 100%;
  overflow-x: hidden;
}
.app-bar-side {
  flex: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999999999999999999999;
  width: 220px;
}
.main {
  flex: 8;
  margin-left: 220px;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .app-bar-side {
    width: 70px;
    padding: 0;
    display: none;
  }
  .main {
    margin-left: 0px;
  }
}
